.navbar_pad{
	padding-top:5px;
	margin-left:275px;
}
.row_nav{
	margin-top:5px;
}
.row_nav1{
	margin-top:35px;
}
.image_size{
	height:300px;
	width:400px;
}
.content_text{
	color:black;
	text-align:justify;
	font-size:12px;
	
}
.title_align{
	text-align:center;
}
.social{
	text-align:center;
	font-size:30px;
	padding:10px;
}
.recent_post{
	width:160px;
	height:100px;
}
.recent{
	text-align:center;
}
.search_box{
	text-align:center;
	margin-top:30px;
}
.search_result{
	margin-top:30px;
}
.body_color{
	background-color:#D3DCE3;
}