.form_align{
	text-align:center;
}
.image_form{
	margin-left: 96px;
    font-size: 20px;
    font-family: fantasy;
}
.submit_pad{
	margin-top:10px;
	
}
.body_color{
	background-color:#D3DCE3;
}
.input_form{
	height: 35px;
    width: 400px;
    border-radius: 5px;
    border: inset;
    text-align: center;
	margin-top: -23px;
    margin-bottom: 7px;
}
.form_head{
	font-size: 20px;
    font-family: fantasy;
}
.textarea_size{
	height: 170px;
    width: 400px;
    border-radius: 5px;
    border: inset;
    text-align: center;
    font-size: 35px;
    margin-top: -23px;
}
.link_style{
	font-size: 30px;
    font-family: fantasy;
    font-variant: small-caps;
    font-weight: 100;
}
.header_style{
	font-size: 40px;
    font-family: fantasy;
	text-align:center;
}
.insert_style{
	height: 40px;
    width: 100px;
    border-radius: 5px;
    border: inset;
    color: #020202;
    font-size: 22px;
    font-family: fantasy;
    background-color: #696b6d;
	margin-top:10px;
}
.submit_align{
	text-align:left;
}